{% extends 'layout.twig' %}
{% block body %}
    <div class="content-wrapper">
        <div class="container ">
            <div class="row">
                <div class="col-md-9 "   >
                    <div class="row formbox">
                        <p class="gray-color"> <a href=""> Travel & Vacations </a> > <a href=""> Red Bus </a> > transaction failed but money not refunded </p>
                        <div class="fill">   <h3 class="font-bold"> {{ complaint.companyName.companyName }} — {{complaint.complaintSubject}}  </h3>  </div>
                        <div class="fill">
                            <span class="fa fa-star starchecked"></span>
                            <span class="fa fa-star starchecked"></span>
                            <span class="fa fa-star starchecked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div>   <p class="gray-color"> <a href="">   Vijayanand </a> on Jun 20, 2017 </p> 	</div>
                        <div class="complaint-box m-top18">
                            <p class="font-regular  font16">
                                {{ complaint.complaintDetails|nl2br }}
                            </p>
                        </div>
                        <a class="btn green-button  m-top15" href="/complaint/complaintregistration/{{ complaint.companyName.id }}">   <i class="fa fa-mouse-pointer"></i>   Submit a Complaint  </a>
                        <div class="col-md-3">
                        </div>
                    </div>
                    <div class=" m-top21 font-light font-18">
                        <div class="complaint-box m-top18">
                            <div class="success-message-box">
                                <h4 class="color-green font-bold"> Complaint marked as Resolved  </h4>
                                <p class="gray-color font-regular"> Jul 24, 2017 </p>
                            </div>

                            <div class="success-message-box">
                                <h4 class="color-green font-bold"> Complaint Status  </h4>
                                <p class="gray-color font-regular"> [Jun 20, 2017] </p>
                                <p>  Red Bus customer support has been notified about the posted complaint. </p>
                            </div>
                        </div>
                        <div class="complaint-box m-top18">
                            <h3 class="color-green font-bold"> Comments  </h3>
                            {% for comment in comments %}
                            <div class="comment-box">
                                <div class="comment-head"> <i class="fa fa-comments"></i> <a href="#"> Vijayanand </a>  on Jun 24, 2017 </div>
                                <div class="indent-10"> {{comment.comments}}
                                </div>
                            </div>
                            {% endfor %}
                            
                            <div class="comment-box">
                                <div class="comment-head"> <i class="fa fa-comments"></i> <a href="#"> Vijayanand </a>  on Jun 24, 2017 </div>
                                <div class="indent-10"> It is unfair, This was completely technical issue with Rebus web servers.
                                    Why should i be responsible for your mistake?
                                    I selected to travel on next day but ticket was booked travel on the same day, This is unfair practice you are following.
                                </div>
                            </div>
                            
                            <h3 class="color-green font-bold"> Post your Comment  </h3>
                            
                            
                             <form class="m-top30 font-light" method="post" action="/comment" onsubmit="return ValidCaptcha();">
                                 
                            <fieldset class="rating" name="rating">
                                <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                <input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                <input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                                <input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                <input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                <input type="radio" id="starhalf" name="rating" value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                            </fieldset>
                            <div class="clearfix">  </div>
                            Your Rating (1 star is bad, 5 stars is good)
                            <textarea class="form-control popoverfield" name="comments"rows="6" required></textarea>
                            <div class="controls">
                                <div class="fileupload fileupload-new" data-provides="fileupload"><input type="hidden">
                                    <span class="btn btn-white btn-file  black-button">
                                        <span class="fileupload-new"> <i class="fa fa-camera"></i>  Add Photo</span>
                                        <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                                        <input type="file" name="addVideo" class="default">
                                    </span>
                                    <span class="fileupload-preview" style="margin-left:5px;"></span>
                                    <a href="#" class="close fileupload-exists " data-dismiss="fileupload" style="float: none; margin-left:5px;"></a>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2">                               
                                    <input type="text" id="mainCaptcha" name="mainCaptcha" class="form-control popoverfield" style="font-weight:bold" readonly/>
                                </div>
                                <div class="col-sm-3">                                   
                                    <input  type="text" name="captcha" id="captcha" class="form-control popoverfield"  placeholder="">

                                </div>
                            </div>
                            <div class="form-group row ">
                                <div class="col-sm-12">
                                    <button class="btn green-button  m-top15 " type="submit" id="button1">   <i class="fa fa-thumbs-up"></i>   Submit </button>
                                </div>
                            </div>
                            
                             </form>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="formbox">
                        <div align="center " class="m-top18"> <img src="/images/thumb.png" />
                            <a href="/company/companyprofile"> <h4 class="font-bold "> Red Bus Customer Care Service </h4> </a></div>

                        <div  class="progress-bar position m-left15" data-percent="70" data-duration="1000" data-color="#26343C,#51B156">   </div>
                        <div class="clearfix"> </div>
                        <div class="alert alert-danger fade in m-top110 tag-margin">

                            <strong>Complaints</strong>  <span class="pull-right" > 2 </span>

                       </div>
                        <div class="alert alert-warning fade in tag-margin">

                            <strong>Pending</strong>  <span class="pull-right" > 1 </span>

                        </div>
                        <div class="alert alert-success fade in tag-margin">

                            <strong>Resolved</strong>  <span class="pull-right" > 1 </span>

                        </div>
                        <div class="error-message1  color-white" align="center">
                            <i class="fa fa-headphones font-28"></i>
                            <div class="clearfix"> </div>
                            So far so good - The company responded to our notifications and is working on resolving complaints.  </div>
                    </div>
                    <div class="formbox">
                        <h4 class="font-bold"> Recently Discussed  </h4>
                        <p class="font-light gray-color"> (1 minutes ago) </p>
                        <a class="color-green" href="#">  Ziwra </a>
                        <p class="font-light">  wrong product delivered.. not able to return it.  </p>
                        <div class="gray-boarder">  </div>
                        <p class="font-light gray-color"> (5 minutes ago) </p>
                        <a class="color-green" href="#">  Home Credit India Finance </a>
                        <p class="font-light">  home credit c. no 3801125387 disbursed amount has not credited </p>
                        <div class="gray-boarder">  </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(".progress-bar").loading();
        $('input').on('click', function () {
            $(".progress-bar").loading();
        });

        $(".progress-bar1").loading();
        $('input').on('click', function () {
            $(".progress-bar1").loading();
        });

    </script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>
{% endblock %}
