{% extends 'layout.twig' %}

{% block body %}
    <div class="content-wrapper">
        <div class="container ">
            <div class="row">
                <div class="col-md-9 m-top18"   >
                    <h2 class="bold font-bold">Company Registration Form </h2>
                    <div class="formbox">
                        <div id="success-msg"></div>
                        <div id="error-msg"></div>
                        <form class="m-top30 font-light" method="post" enctype="multipart/form-data" id="register_business" >
                            <div class="form-group row">
                                <div class="col-sm-1"> </div>
                                <label for="inputPassword" class="col-sm-3 col-form-label ">Company Name</label>
                                <div class="col-sm-7 autocomplete">
                                    <input id="myInput" type="text" name="business_name" id="business_name" class="form-control popoverfield" type="text" placeholder="Business name" 
                                           value="{% if company is defined %}{{ company.companyName }}{% endif %}"
                                           />

                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-1"> </div>
                                <label for="inputPassword" class="col-sm-3 col-form-label ">Category	</label>
                                <div class="col-sm-7">
                                    <select id="e1" name="category_id" class="form-control popoverfield " style="width: 300px" >
                                        {% set previous_category = 0 %}
                                        {% for category in Categories %}
                                            {% if category.parent_id[0].category_name != previous_category %}
                                                <option value="{{ category.parent_id[0]._id }}">{{ category.parent_id[0].category_name }}</option>
                                            {% endif %}
                                                <option value="{{ category._id }}">&nbsp;&nbsp;&nbsp;&nbsp;{{ category.category_name }}</option>
                                                {% set previous_category = category.parent_id[0].category_name %}
                                            {% else %}
                                                    <option value="{{ category._id }}">{{ category.category_name }}</option>
                                        {% endfor %}
                                    </select>

                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-sm-1"> </div>
                                <label for="inputPassword" class="col-sm-3 col-form-label ">Address	</label>
                                <div class="col-sm-7">
                                    <textarea class="form-control popoverfield" rows="6" name="address" ></textarea>

                                </div>
                            </div>

                            
                            <div class="form-group row">
                                <div class="col-sm-1"> </div>
                                <label for="inputPassword" class="col-sm-3 col-form-label ">City</label>
                                <div class="col-sm-7">
                                    <input  type="text" name="city" class="form-control popoverfield"  placeholder="City">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-1"> </div>
                                <label for="inputPassword" class="col-sm-3 col-form-label ">State</label>
                                <div class="col-sm-7">
                                    <input  type="text" name="state" class="form-control popoverfield"  placeholder="State">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-1"> </div>
                                <label for="inputPassword" class="col-sm-3 col-form-label ">Country</label>
                                <div class="col-sm-7">
                                    <input  type="text" name="country" class="form-control popoverfield"  placeholder="Country">
                                </div>
                            </div>
                            

                            <div class="form-group row">
                                <div class="col-sm-1"> </div>
                                <label for="inputPassword" class="col-sm-3 col-form-label ">Zipcode</label>
                                <div class="col-sm-7">
                                    <input  type="text" name="pincode" class="form-control popoverfield"  placeholder="Zipcode">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-1"> </div>
                                <label for="inputPassword" class="col-sm-3 col-form-label ">Website</label>
                                <div class="col-sm-7">
                                    <input  type="text" name="website" class="form-control popoverfield"  placeholder="Company website URL">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-1"> </div>
                                <label for="inputPassword" class="col-sm-3 col-form-label ">Email</label>
                                <div class="col-sm-7">
                                    <input  type="text" name="email" class="form-control popoverfield"  placeholder="Company email address">
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-sm-1"> </div>
                                <label for="inputPassword" class="col-sm-3 col-form-label ">Phone number</label>
                                <div class="col-sm-7">
                                    <input  type="text" name="phone_number" class="form-control popoverfield"  placeholder="Company Contact phone number">
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-sm-1"> </div>
                                <label for="inputPassword" class="col-sm-3 col-form-label "></label>
                                <div class="col-sm-7">
                                    <div class="controls">
                                        <div class="fileupload fileupload-new" data-provides="fileupload"><input type="hidden">
                                            <span class="btn btn-white btn-file  black-button">
                                                <span class="fileupload-new"> <i class="fa fa-camera"></i>  Add Business Logo</span>
                                                <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                                                <input type="file" class="default" name="logo">
                                            </span>
                                            <span class="fileupload-preview" style="margin-left:5px;"></span>
                                            <a href="#" class="close fileupload-exists " data-dismiss="fileupload" style="float: none; margin-left:5px;"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            {% if errors is defined and errors is not empty %}   
                                <div class="offset-4 col-sm-8  "> 
                                    <div id="error" class="error-message" style="width:89%">
                                        {% for error in errors %}
                                            <i class='fa fa-circle'></i> {{ error.msg }} <br />
                                        {% endfor %}
                                    </div> 
                                </div>
                            {% endif %} 

                            <div class="clearfix">  </div>

                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn green-button btn-lg pull-right m-top15" id="businessBtn">   <i class="fa fa-thumbs-up"></i>   Submit </button> 
                                </div>
                            </div>


                        </form>



                    </div>

                </div>


                <div class="col-md-3">

                    <div class="fb-box m-top92">

                        <div id="fb-root "></div>
                        <script>(function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id))
                                    return;
                                js = d.createElement(s);
                                js.id = id;
                                js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.12';
                                fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));</script>

                        <div class="fb-like  " data-href="https://www.facebook.com/Gayle-The-Predator-744687735572131/" data-layout="button_count"
                             data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>




                    </div>


                    <div class="twitter-box m-top10">

                        <a href="https://twitter.com/henrygayle?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="true">Follow @henrygayle</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                    </div>

                    <div class="g-pluse m-top10" style="padding-top:14px;">
                        <!-- Place this tag in your head or just before your close body tag. -->
                        <script src="https://apis.google.com/js/platform.js" async defer></script>

                        <!-- Place this tag where you want the widget to render. -->
                        <div  class="g-follow" data-annotation="bubble" data-height="24" data-href="//plus.google.com/u/0/107981003118080061247" data-rel="publisher"></div>



                    </div>


                    <div class="formbox">
                        <h4 class="font-bold"> Recently Discussed  </h4>
                        <p class="font-light gray-color"> (1 minutes ago) </p>
                        <a class="color-green" href="#">  Ziwra </a>
                        <p class="font-light">  wrong product delivered.. not able to return it.  </p>
                        <div class="gray-boarder">  </div>


                        <p class="font-light gray-color"> (5 minutes ago) </p>
                        <a class="color-green" href="#">  Home Credit India Finance </a>
                        <p class="font-light">  home credit c. no 3801125387 disbursed amount has not credited </p>
                        <div class="gray-boarder">  </div>


                    </div>



                </div>


            </div>
        </div>
    </div>

    <script>
                            export default {
                                data() {
                                    return {
                                        placements: [
                                            'topright', 'top', 'topleft',
                                            'bottomright', 'bottom', 'bottomleft',
                                            'righttop', 'right', 'lefttop',
                                            'rightbottom', 'left', 'leftbottom'
                                        ]
                                    };
                                }
                            }
    </script>

{% endblock %}
